header {    

    display: flex;
    justify-content: space-between;
    margin-left: 4em;
    margin-right: 4em;
    margin-top: 25px;
}

ul{
    margin-top: 25px;
    display: inline-flex;
    
    
    
}

li{
   
 
    list-style-type: none;
    font-style:italic;
    font-weight:900;
    font-size: large;
    text-decoration: none;
  
  


}


 .links {
    
    text-decoration: none;
    
 }

 
